<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='images/main_plot.png')}}">
</head>

<body>
    <main>
        <h1>Product Reviews</h1>
        <p> </p>

        <form action="/add" method="post">
            <div>
                <label>Review</label>
                <input type="text" name="review" placeholder="Enter a Review">
                <button type="submit">Add a Review</button>
            </div>
        </form>

        <hr>
    <section>
        <h1>Reviews</h1>
        <div class="rows">
        <div>
            <h2>Good List</h2>
            {% for review in good_reviews %}
            <p>{{review.id}} : {{review.review_text}} : {{review.score}}</p>
            {% endfor %}
        </div>

        <div>
            <h2>Bad List</h2>
            {% for review in bad_reviews %}
            <p>{{review.id}} : {{review.review_text}} : {{review.score}}</p>
            {% endfor %}
        </div>
    </div>
    </section>
    </main>
</body>

</html>